*{
    font-family: 'Playfair Display', serif;
    margin: 0;
    text-align: center;
    user-select: none;
}
body{
    background-color: lightgray;
}
a{
    color: white;
}
header, footer{
    background-color: black;
    color: white;
    position: fixed;
    width: 100vw;
    padding: 20px 0px;
}
header{
    top: 0;
    gap: 10px;
}
#head2{
    gap: 10px;
}
footer{
    bottom: 0;
    gap: 10px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    flex-direction: row;
    display: flex;
}
section{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    font-size: 1.5rem;
    gap: 20px;
    font-weight: bold;
    color: dimgray;
    background-image: url('img/texture.png');
    border: dimgray 4px solid;
}
input,input:focus{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    font-size: 1.5rem;
    -moz-appearance: textfield;
}
input:focus,button:hover,.gray:hover,a:hover{
    color: lightgray;
}
img{
    border-width: 2px;
    border-radius: 70%;
    border-style: solid;
    cursor: pointer;
    border-color: transparent;
    transition: 200ms;
}
img:hover{
    border-color: white;
    transition: 200ms;
}
button{
    height: 50%;
    width: 100%;
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: none;
}
#date{
    font-size: 1.5rem;
}
main{
    margin-top: 175px;
    margin-bottom: 110px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
}
.click{
    cursor: pointer;
}
table{
    font-size: 0.6rem;
}

@media (max-width:410px){
    header, footer{
        font-size: 0.8rem;
    }
    input,input:focus,#date{
        font-size: 1.3rem;
    }
    main{
        margin-top: 155px;
        margin-bottom: 100px;
    }
}
@media (max-width:360px){
    header{
        font-size: 0.6rem;
    }
    footer{
        font-size: 0.7rem;
    }
    input,input:focus,#date{
        font-size: 1rem;
    }
    img{
        width: 30px;
    }
    main{
        margin-top: 125px;
    }
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}