.trans{
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}
.solid{
    background-image: url("texture.png");
    background-position: center;
    background-size: 150%;
    text-align: center;
    color: dimgray;
    border-style: solid;
    border-width: 0px;
    border-radius: 40px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3), -15px -15px 15px rgba(0,0,0,0.3), -15px 15px 15px rgba(0,0,0,0.3), 15px -15px 15px rgba(0,0,0,0.3);
    background-color: white;
    height: auto;
    width: auto;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}



body{
    margin: 0px;
    background-image: url("clock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    user-select: none;
}
img{
    border-width: 2px;
    border-radius: 70%;
    border-style: solid;
    cursor: pointer;
    margin: 3px;
    border-color: transparent;
    transition: 200ms;
    height: 70%;
}
img:hover{
    border-color: white;
    transition: 200ms;
}
#lang{
    width: 25vh;
    justify-content: end;
    margin: 15px;
}
#top{
    width: 100%;
    background-image: linear-gradient(rgb(243,222,186,0.5), );
    height: 100px;
    justify-content: space-between;
    text-align: center;
}
#main{
    padding: 0px 100px 0px 100px;
    margin: auto;
    margin-top: 50px;
}
#events{
    margin: auto;
    padding: 50px;
    font-size: 35px;
    margin-top: 50px;
    font-weight: bold;
}
#headline{
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
#content{
    justify-content: space-evenly;
}
#mid{
    width: 50%;
}
#output4{
    width: 25%;
    margin: 50px;
    justify-content: space-between;
    border-radius: 0;
    margin-top: 70px;
}
#right{
    width: 25%;
    margin: 50px;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    border-radius: 0;
    margin-top: 70px;
}
.weekday{
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    font-weight: 500;
}
#current{
    background-color: dimgray;
    color: white;
    border-color: dimgray;
    font-weight: 800;
    position: relative;
    width: 100%;
    left: -11px;
}
#date{
    color: white;
    width: 25vh;
    font-size: 40px;
    margin: 15px;
}
input,input:focus{
    color: white;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    border: none;
    outline: none;
    font-size: 40px;
    width: auto;
    appearance: none;
    -moz-appearance: textfield;
}
#day{
    width: 48px;
}
#month{
    width: 24px;
}
#year{
    width: 96px;
}
#arrow{
    width: 60%;
    height: auto;
    border: none;
}
#arrow:hover{
    cursor: pointer;
    border: none;
}
#prev,#next{
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}